<div class="reply">
  <h1><%= @post.title %></h1>
  <% if @post.user == current_user %>
    <%= link_to "Edit", edit_post_path(@post) %>
  <% end %>
  <p><%= @post.user.username %></p>
  <p><%= @post.body %></p>
</div>
<% @post.replies.each do |reply| %>
  <div class="reply">
    <p><%= reply.user.username %></p>
    <p><%= reply.body %></p>
    <% if reply.user == current_user %>
      <%= link_to "Edit", edit_reply_path(reply) %>
    <% end %>
  </div>
<% end %>
<%= link_to new_post_reply_path(@post) do %>
  <div class="button">Reply</div>
<% end %>
<%= link_to board_path(@post.board) do %>
  <div class="button">Back to Board</div>
<% end %>